{% extends "base.html" %}{% block navbar %}
<nav class="navbar">
  <div class="container">
    <div id="navbarMenuHeroA" class="navbar-menu">
      <div class="navbar-end">
        <a href="{{ url_for('views.login') }}" class="navbar-item"> Login </a>
        <a href="{{ url_for('views.register') }}" class="navbar-item">
          Sign Up
        </a>
        <form action="{{url_for('views.logout')}}" method="post">
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
          <button class="button is-block is-info is-large is-fullwidth">
            Log out
          </button>
        </form>
        <form action="{{url_for('views.logout_all')}}" method="post">
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />

          <button class="button is-block is-info is-large is-fullwidth">
            Log out from all devices
          </button>
        </form>
      </div>
    </div>
  </div>
</nav>
{% endblock %} {%block content%}
<h1 style="font-size: 2em">Auth Index Page</h1>
{% endblock %}
