<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Flask index page</title>
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css"
    />
</head>

<body>
<section class="hero is-primary is-fullheight" style="background-color: #74bbc1">
    <div class="hero-body">
        <div class="container has-text-centered">
            <h1 class="title" style="font-size: 80px; color: #fff4d9">
                Welcome, my traveler!
            </h1>
            <h2 class="subtitle" style="color: black">
                Please, <a style="font-size: 30px; color: #ccedff" href="{{ url_for('views.login') }}">Login</a><br>
                or <a style="font-size: 30px; color: darkred" href="{{ url_for('views.register') }}">Register</a>
            </h2>
        </div>
    </div>
</section>
</body>
</html>
