<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Flask Auth</title>
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css"
    />
</head>

<body>
<section class="hero is-primary is-fullheight" style="background-color: #e2ef6d">
    <div class="hero-body">
        <div class="container has-text-centered">
            <h1 class="title" style="font-size: 120px; color: black">
                Welcome {% if current_user and current_user.is_authenticated %}back, {{ current_user.email }}{% endif %}!
            </h1><br>
            {% if current_user and not current_user.is_authenticated %}
            <h2 class="subtitle" style="color: black">
                Please, <a style="font-size: 30px; color: gray" href="{{ url_for_security('login') }}{% if 'next' in request.args %}?next={{ request.args.next|urlencode }}{% endif %}">{{ _fsdomain('Login') }}</a><br>
                or <a style="font-size: 30px; color: darkred" href="{{ url_for_security('register') }}{% if 'next' in request.args %}?next={{ request.args.next|urlencode }}{% endif %}">{{ _fsdomain('Register') }}</a>
            </h2>
            {% endif %}
        </div>
    </div>
</section>
</body>
</html>
